{{define "base"}}
<html>
	<head>
		<title>{{template "title" .}}</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link href='//cdn.kde.org/aether-devel/bootstrap.css' rel='stylesheet' type='text/css'>
		{{template "head" .}}
	</head>
	<body>
		<header class="header">
			<nav class="navbar">
				<a class="kde-logo navbar-brand active" href="/"></a>
				<ul class="navbar-nav mr-auto ml-3">
					<li class="nav-item"><span class="nav-link">{{template "headline" .}}</span></li>
				</ul>
			</nav>
		</header>
		<div id="wrapper">
			<div>
				{{template "body" .}}
			</div>
			<div id="footer">
			Mirrorbits {{version}} running on {{hostname}}
			</div>
		</div>
	</body>
</html>
{{end}}
